* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #1f1f1f;
}

.osnova {
    max-width: 800px;

    margin: auto;
}

.title {
    text-align: center;
}

.version {
    text-align: center;
}

a {
    display: flex;
    border-radius: 25px;
    padding: 20px 50px;
    background-color: gray;
    text-decoration: none
}

.telegram {
    background: rgb(39,167,232);
    background: linear-gradient(90deg, rgba(39,167,232,1) 0%, rgba(39,167,232,1) 100%);
}

.instagram {
    background: rgb(96,73,224);
    background: linear-gradient(90deg, rgba(96,73,224,1) 0%, rgba(216,22,174,1) 32%, rgba(250,23,29,1) 65%, rgba(253,190,84,1) 100%);
}

.buttonlink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.GitHub {
    background: rgb(19,22,25);
    background: linear-gradient(90deg, rgba(19,22,25,1) 20%, rgba(0,0,0,1) 86%);
}

.X {
   background-color: black;
}